@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

@import './partials/colors';

body{
    height: 100vh;
    width: 100%;

    background-color: $blue-dark;
}

::selection{
    color: $white;
    background-color: $red-dark;
}

img, svg{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: $white;
}

.border{
    border: 1px solid red;
}

p{
    font-size: 16px;
    color: $gray-3;
    letter-spacing: 1px;
    line-height: 140%;
}

@import './partials/responsive';
@import './partials/spacing';
@import './partials/layout';
@import './partials/menu';
@import './partials/animations';