header{
    width: 100%;
    padding-top: 16px;
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(l){
        max-width: 1200px;
    }

    @include responsive(s){
        max-width: 760px;
    }
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.logo{
    max-width: 88px;
}

.nav-list{
    list-style: none;
    display: flex;
    transition: .7s ease;

    li{
        margin-left: 24px;
    }

    @include responsive(s){
        position: fixed;
        top: 0;
        right: -100%;

        z-index: 998;
        
        flex-direction: column;
        background-color: $blue;

        height: 100vh;
        width: 100%;
        max-width: 300px;
        padding: 100px 20px;
        margin: 0;

        .nav-link{
            margin-top: 10px;
        }
    }
}

.nav-list.active{
    right: 0;
}

.nav-link{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    position: relative;
    color: $gray-3;
    transition: .7s ease;

    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -80%;
        
        width: 2px;
        height: 0px;

        transition: .7s ease;

        background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #E91D22 100%);
    }

    &:hover{
        color: $white-light;

        &::after{
            height: 40px;
        }
    }
}

.nav-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    svg{
        cursor: pointer;
        margin-left: 16px;
        width: 24px;
        
        path, circle{
            transition: .7s ease;
        }

        &:hover{
            path, circle{
                fill: $red-light;
                transform: translate3d(0, -3, 0);
            }
        }
    }

    @include responsive(s){
        display: none;
    }
}

.menu-hamburguer{
    display: none;
    z-index: 999;

    @include responsive(s){
        display: block;
    }
}

.hamburguer{
    display: none;
    position: relative;
    
    &::after{
        content: '';
        position: absolute;
        top: 35%;
        left: 15%;
        width: 70%;
        height: 8%;
        border-radius: 6px;
        background-color: $white;
        transition: .7s ease;
    }

    &::before{
        content: '';
        position: absolute;
        top: 60%;
        right: 15%;
        width: 50%;
        height: 8%;
        border-radius: 6px;
        background-color: $white;
        transition: .7s ease;
    }

    @include responsive(s){
        display: block;
        width: 48px;
        height: 48px;

        border-radius: 6px;
    }
}

#chkHamburguer:checked ~ label .hamburguer{
    
    &::after{
        top: 45%;
        transform: rotate(225deg);
    }

    &::before{
        top: 45%;
        width: 70%;
        transform: rotate(-225deg);
    }
}
